#waldoSnowPic{
    position: relative;
    display: inline-block;
    user-select: none;
}

#circle{
    display: none;
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: width 1s, height 1s, top 1s, left 1s;
    pointer-events: none;
    user-select: none;
}

.characterContainer{
    display:'flex';
    flex-direction:'column';
    justify-content:'center'; 
    align-items:'center'
}